.navigationPanel {
  border: 1px solid white;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.navigationFolder {
  background-color: transparent;
  border: none;
  display: block;
  height: 50px;
  text-align: left;
  width: 100%;
}

.navigationFolder:hover {
  background-color: grey;
}